.tb_carousel_left{
    background: url(../img/pic3.png) no-repeat;
    background-position: left;
}
img{
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.img1{
    position: absolute;
    left: 100px;
    bottom: 50px;
}
.img2{
    position: absolute;
    right: 0;
    top: 120px;
}
/* Banner CSS */
.banner-inner{
    padding-top: 150px;
}

.banner-one{
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
    background-image: url(../img/pic2.png);
}

.banner-content{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 12px;
}       
/* .banner-content span {
    font-size: inherit;
} */
/* Moving */

.move-box{
    position: relative;
}
.move-box img:first-child {
    position: unset;
}
.move-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.move2{
    animation: moveing2 5s infinite;
    top: 0;
    right: 0;
    left: 20px;
}
.move1{
    animation: moveing1 5s infinite;
    top: 0;
    right: 0;
    left: 20px;
}

@keyframes moveing2 {
    0% {
        transform: rotate(2deg) translate(2px,2px);
    }
    50% {
      transform: rotate(-2deg) translate(-2px,-2px)
    }
    100% {
      transform: rotate(2deg) translate(2px,2px);
     } 
}
@keyframes moveing1 {
    0% {
      transform: rotate(-2deg);
    }
    50% {
      transform: rotate(2deg) 
    }
    100% {
      transform: rotate(-2deg) 
}
}