.workprocess img:nth-child(1) {
    animation: moveing5 3s infinite;
}

.workprocess img:nth-child(2) {
    animation: none !important;
}

.myproject img:nth-child(7) {
    animation: none !important;
}

.myproject img:nth-child(3) {
    animation: none !important;
}

.myproject img:nth-child(2) {
    animation: moveing5 3s infinite;
}

/* Contact */
.contactimg {
    animation: moveing2 3s infinite;
}

/* Certification */
.certification__ {
    width: 100%;
    color: white;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
/* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.card{
    box-shadow:0px 1px 9px 2px rgb(0 0 0 / 70%)
}
.card-img-top{
    border-top-right-radius: 20px;
}
.certification__ h5 {
    margin: 0;
}

.certification__ h6 {
    color: rgba(59, 58, 58, 1);
    margin: 0;
}

/* Degree */

.degrees__ {
    width: 95%;
    margin: auto;
    height: 100px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.17);
}

.degrees__infor {
    width: 100%;
    margin: auto;
    height: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(255, 255, 255, 0.17);
    padding: 0;
}

.borderT {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    text-align: left !important;
    width: 100%;
}

.card,
.card-img-top {
    border-radius: 20px !important;
}

.frontEnd {
    position: relative;
}

.frontEnd img {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
}

.frontEnd img:first-child {
    position: unset;
}

.frontEnd img:nth-child(7) {
    animation: moveing3 5s infinite;
}

.frontEnd img:nth-child(3) {
    animation: moveing1 3s infinite;
}

.frontEnd img:nth-child(8) {
    animation: moveing2 3s infinite;
}

.frontEnd img:nth-child(10) {
    animation: moveing2 3s infinite;
}

.operation img:nth-child(3) {
    top: -30px;
    left: 7px;
    animation: moveing4 3s infinite;
}

.operation img:nth-child(5) {
    animation: moveing5 3s infinite;
}

@keyframes moveing4 {
    50% {
        transform: translate(7px, 40px);
    }
}

@keyframes moveing5 {
    50% {
        transform: scale(1.08);
    }
}