.frontEnd{
    position: relative;
}
.frontEnd img{
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 98%;
}
.frontEnd img:first-child {
    position: unset;
}
.frontEnd img:nth-child(7){
    animation: moveing3 5s infinite;
}
.frontEnd img:nth-child(3){
    animation: moveing1 3s infinite;
}
.frontEnd img:nth-child(8){
    animation: moveing2 3s infinite;
}
.frontEnd img:nth-child(10){
    animation: moveing2 3s infinite;
}