*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: large;
  outline: none;
  padding: 0;
}
a:hover{
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
  color: #1f2471;
}
.text-primary{
  color: #896eff!important;
  font-size: inherit;
}
button:focus{
  outline: none;
}

