.bg__project{
   background-image: url(../../public/img/bg1.jpg);
   background-position: bottom center;
   background-size: cover;
   background-attachment: fixed;
}
.card__project{
    border-radius: 20px !important;
    border: 3px #896efede dashed;
}
.MuiCardActions-root {
    transition: transform .2s; /* Animation */
    justify-content: center;
}
.MuiCardActions-root img:hover{
    transform: scale(1.3);
    transition: transform .5s;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    background-color: rgba(178, 133, 252, 0.2) !important;
    color: white !important;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root p{
    color: white !important;
}